#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
}

#app .layout {
  width: 376px;
  height: 666px;
  z-index: 100;

  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
  overflow: clip
}

::-webkit-scrollbar {
  width: 4px;
  margin: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2)
}

::-webkit-scrollbar-track {
  background-color: initial;
}